[Unit]
Description=DAW CHECKLIST API
After=syslog.target

[Service]
User=spring
Type=idle
ExecStart=/usr/bin/java -jar /var/spring/api.jar --server.port=8080 --spring.profiles.active=gcp
SuccessExitStatus=143

[Install]
WantedBy=multi-sub.target